@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&family=Overpass:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&family=Overpass:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background: linear-gradient(192.05deg, #47BFDF 0%, #4A91FF 100%);
    border-radius: 15px;
}
.header{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    width:414px;
    margin: 0 auto;
    /* height:100vh; */
    padding:50px 25px;
    /* padding:30px; */
}

.location{
    display: flex;
    justify-content: space-between;
    height: 100%;
  
}
.select{
    display: flex;
    align-items: center;
}
.weather{
    display:flex;
    justify-content: center;
    align-items: center;
}
.weather img{
    width:200px;
}
.content{
    border:1px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    /* width:100%; */
    height:335px;
    width:353px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.gust,.wind{
    display:flex;
    justify-content: space-between;
     width:100%; 
}
.rain{
    width:60%;
}

a{   
    padding: 20px;
    background: whitesmoke;
    border-radius: 15px;
    color:#444E72;
    font-style: overpass;
    font-size:16px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.daytoday,.gust,.wind{
    font-family:overpass;
    font-weight:400;
    font-size:18px;
    color:white;
}
.temp{
    font-family:overpass;
    font-weight:400;
    font-size:70px;
    color:white;
}
.description{
    font-family:overpass;
    font-weight:700;
    font-size:24px;
    color:white;
}
.wind p{
    padding-left:30px;
}






